<div class="container">
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">BookId</th>
		  <th scope="col">Title</th>
		  <th scope="col">Price</th>
		  <th scope="col">Volume</th>
		  <th scope="col">PublishDate</th>
		  <th scope="col">SubjectId</th>
		  <th scope="col">Operations</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let book of books">
			<td>{{book.bookId}}</td>
			<td>{{book.title}}</td>
			<td>{{book.price}}</td>
			<td>{{book.volume}}</td>
			<td>{{book.publishDate}}</td>
			<td>{{book.subjectId}}</td>
			<td>
			<button class = "btn btn-danger" (click)="deleteBook(book)">Delete</button>
			<button class = "btn btn-primary"(click)="updateBook(book)">Edit</button>
			</td>
		</tr>
	  </tbody>
	</table>
	<button class = "btn btn-primary"(click)="newBook()">New Book</button>
</div>