<div class="container">
<h1>Add Book here..</h1>
	<form (ngSubmit)="processForm()">
		<div class = "form-group">
			<label for = "bookId">BookId</label>
			<input type="text" name = "bookId" class = "form-control" [(ngModel)]="book.bookId" >
		</div>
		<div class = "form-group">
			<label for = "title">Title</label>
			<input type = "text" name = "title" class = "form-control"[(ngModel)]="book.title">
		</div>
		<div class = "form-group">
			<label for = "price">Price</label>
			<input type="text" name = "price"  class = "form-control" [(ngModel)] = "book.price">
		</div>
		<div class = "form-group">
			<label for = "volume">Volume</label>
			<input type="text" name = "volume" class = "form-control" [(ngModel)]="book.volume" >
		</div>
		<div class = "form-group">
			<label for = "publishDate">PublishDate</label>
			<input type="text" name = "publishDate" class = "form-control" [(ngModel)]="book.publishDate">
		</div>
		<div class = "form-group">
			<label for = "subjectId">SubjectId</label>
			<input type="text" name = "subjectId" class = "form-control" [(ngModel)]="book.subjectId">
		</div>	
		<button type="submit" class = "btn btn-success">Save</button>
	</form>
	
</div>